<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab disabled"><a href="#" onclick="apretaste.send({command: 'RETOS OPEN'})">Reto del día</a></li>
			<li class="tab disabled"><a href="#" class="active">Completados</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<% if (challenges.length >0) { %>
		<p>Estos retos fueron completados por usted. Hasta el momento ha ganado <b><%= formatCredit(total) %></b> creditos.</p>

		<ul class="collection">
			<% for(var i in challenges) { var challenge = challenges[i]; %>
				<li class="collection-item avatar">
					<i class="material-icons circle blue-grey"><%= challenge.icon %></i>
					<span class="title"><%= challenge.name %> &middot; <b><%= formatCredit(challenge.earned) %></b></span>
					<p><small>Completado el <%= formatDateTime(challenge.completed) %></small></p>
				</li>
			<% } %>
		</ul>
		<% } else {%>
			<p>Usted aún no ha completado ningún reto.</p>
		<% }%>
	</div>
</div>
