<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab disabled"><a href="#" class="active">Retos del día</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'RETOS DONE'})">Completados</a></li>
		</ul>
	</div>
</div>

<ul class="collection">
	<% for(var i in challenges) { var challenge = challenges[i]; %>
	<li class="collection-item avatar">
		<i class="material-icons circle blue-grey"><%= challenge.icon %></i>
		<span class="title <%= challenge.done ? 'completed' : '' %>"><%= challenge.name %> &middot; <b><%= formatCredit(challenge.prize) %></b></span>
		<p class="clear"><%= challenge.description %></p>
		<% if(!challenge.done) { %>
			<a href="#" onclick="apretaste.send({command: '<%= challenge.command %>', data: {seed: (new Date()).getTime()}})">Completar</a>
			<a href="#" onclick="apretaste.send({command: 'RETOS QUITAR', data: {challenge: <%= challenge.id %>}})">Quitar</a>
		<% } %>
	</li>
	<% } %>
</ul>

<!-- Modal Structure -->
<div id="skip" class="modal">
	<div class="modal-content">
		<h4>¡Cuidado!</h4>
		<p>¿Está seguro que desea cambiar este reto por otro de la lista? Saltar retos tiene un costo de §0.2 crédiros.</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
		<a href="#!" class="waves-effect waves-green btn-flat" onclick="apretaste.send({command: 'RETOS SKIP'})">Saltar (§0.2)</a>
	</div>
</div>
